@import '/src/styles/colors';

.aboutUsWrapper {
    color: $main-white;
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    display: flex;
    margin: 0 4.833em;
    gap: 1.667em;

    #aboutUsPageUfo {
        min-width: 26.222em;
        height: 26.278em;
        background-image: url("/about-us-page/AboutUsPageUfo.svg");
        background-size: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 2.333em 0;
        gap: 1.5em;

        //styling of header nad paragraphs 
        .aboutUsPageTitle {
            font-size: 1.111em;
            color: $main-primary;
            margin: 1.111em 0;
        }
        .importantNotice .paragraph {
            margin: 0.556em 0;
        }

        //styling of contact us information
        .contactUs {
            display: flex;
            gap: 0.556em;
            align-items: center;
        } 
        .contactUs h3 {
            font-size: 1em;
            margin-right: 0.556em;
        }
        .contactUs > #email {
            height: 1.222em;
            width: 1.611em;
            background-color: $main-primary;
            mask: url("/about-us-page/AboutUsPageEmailIcon.svg");
            mask-size: cover;
        }
        .contactUs > #twitter {
            height: 1.222em;
            width: 1.222em;
            background-color: $main-primary;
            mask: url("/about-us-page/AboutUsPageTwitterIcon.svg");
            mask-size: cover;
        }
        .contactUs > #github {
            height: 1.222em;
            width: 1.222em;
            background-color: $main-primary;
            mask: url("/about-us-page/AboutUsPageGithubIcon.svg");
            mask-size: cover;
        }
    }
}


/* (576px and down) */
@media only screen and (max-width: 36em) {
    
}
/* (576px and up) */
@media only screen and (min-width: 36em) {
    
}
/* (768px and up) */
@media only screen and (min-width: 48em) {
    
}
/* (1024px and up) */
@media only screen and (min-width: 64em) {
    .aboutUsWrapper {
        font-size: 0.875em;
    }
}
/* (1280px and up) */
@media only screen and (min-width: 80em) {
    .aboutUsWrapper {
        font-size: 1.125em;
    }
}
/* (1920px and up) */
@media only screen and (min-width: 120em) {
    .aboutUsWrapper {
        font-size: 1.438em;
    }
}
/* (2560px and up) */
@media only screen and (min-width: 160em) {
    .aboutUsWrapper {
        font-size: 1.75em;
    }
}
/* (3840px and up) */
@media only screen and (min-width: 240em) {
    
}
