@import '/src/styles/colors';

.background {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    user-select: none;

    #forest { 
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100vw;
    }
    
    #beam { 
        position: fixed;
        left: 29.649vw; //405
        top: 9.078vw; //120
        z-index: -2;
        width: 40.776vw;
        overflow: hidden;
    }
    
    #items { 
        position: fixed;
        left: 35.505vw; //485
        top: 12.079vw; //165
        z-index: -1;
        width: 29.941vw; //409
    }
    
    #ufo { 
        position: fixed;
        left: 36.969vw;
        top: 2.562vw;
        z-index: 0;
        width: 26.061vw;
    }
    
    #title {
        position: fixed;
        left: 25.256vw; //345
        top: 16.691vw; //229
        z-index: 0;
        width: 49.78vw; //680
    }
    
    #headset {
        position: fixed;
        left: 68.741vw; //939
        bottom: 28vh;
        z-index: -1;
        width: 22.84vw; //312
    }
    
    #keyboard {
        position: fixed;
        left: 9.736vw; //133
        bottom: 29vh;
        z-index: -1;
        width: 23.206vw; //317
    }
    #ctaButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11.27vw; //154
        height: 4.25vw; //58
        border-radius: 0.59vw;
        background-color: $main-black;
        position: fixed;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 1.46vw;
        font-weight: bold;
        color: $main-white;
        left: 44.29vw; //605
        bottom: 3.66vw; //50
        transition: color 0.3s ease;
        animation: floatUpDown 3.2s ease-in-out infinite;
    }
    
    #ctaButton:hover {
        color: $main-primary;
    }
    
    @keyframes floatUpDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}



/* style.css */ 


/* (576px and down) */
@media only screen and (max-width: 36em) {
    .background {
        #forest { 
            width: auto;
            height: 51.389vw;
        }
        
        #beam { 
            left: calc(50% - 79.444vw); //405
            top: 44.167vw; //120
            width: 159.444vw;
        }
        
        #items { 
            left: calc(50% - 52.778vw); //485
            top: 51.389vw; //165
            width: 111.111vw; //409
        }
        
        #ufo { 
            left: 0;
            top: 18.889vw;
            width: 100vw;
        }
        
        #title {
            left: calc(50% - 42.917vw);
            top: 62.5vw; //229
            width: 85.833vw; //680
        }
        
        #headset {
            display: none;
        }
        
        #keyboard {
            display: none;
        }
        #ctaButton {
            width: 30vw; //154
            height: 10vw; //58
            font-size: 4vw;
            left: calc(50% - 15vw); //605
            bottom: 3.66vw; //50
            border-radius: 2.222vw;
        }
    }
}


/* (576px and up) */
@media only screen and (min-width: 36em) and (max-width: 64em) {
    .background {
        #forest { 
            width: auto;
            height: 29%;
        }
        
        #beam { 
            left: calc(50% - 47.4vw); //405
            top: 24vw; //120
            width: 95vw;
        }
        
        #items { 
            left: calc(50% - 38vw); //485
            top: 32vw; //165
            width: 80vw; //409
        }
        
        #ufo { 
            left: calc(50% - 30vw);
            top: 10vw;
            width: 60vw;
        }
        
        #title {
            left: calc(50% - 30vw);
            top: 40vw; //229
            width: 60vw; //680
        }
        
        #headset {
            display: none;
        }
        
        #keyboard {
            display: none;
        }
        #ctaButton {
            width: 20vw; //154
            height: 6.5vw; //58
            font-size: 2.7vw;
            left: calc(50% - 10vw); //605
            bottom: 3.66vw; //50
            border-radius: 1.5vw;
        }
    }
}
