@import '/src/styles/colors';

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#forest { 
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100vw;
}

#beam { 
    position: fixed;
    left: 29.649vw; //405
    top: 9.078vw; //120
    z-index: -2;
    width: 40.776vw;
    animation: backgroundMoveUp 10s linear infinite;
}

#items { 
    position: fixed;
    left: 35.505vw; //485
    top: 12.079vw; //165
    z-index: -1;
    width: 29.941vw; //409
}

#ufo { 
    position: fixed;
    left: 36.969vw;
    top: 2.562vw;
    z-index: 0;
    width: 26.061vw;
}

#title {
    position: fixed;
    left: 25.256vw; //345
    top: 16.691vw; //229
    // bottom: 50vh;
    z-index: 0;
    width: 49.78vw; //680
}

#headset {
    position: fixed;
    left: 68.741vw; //939
    bottom: 28vh;
    z-index: -1;
    width: 22.84vw; //312
}

#keyboard {
    position: fixed;
    left: 9.736vw; //133
    bottom: 29vh;
    z-index: -1;
    width: 23.206vw; //317
}

#ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.27vw; //154
    height: 4.25vw; //58
    border-radius: 0.59vw;
    background-color: $main-black;
    position: absolute;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.46vw;
    font-weight: bold;
    color: $main-white;
    left: 44.29vw; //605
    bottom: 3.66vw; //50
    transition: color 0.3s ease;
    animation: floatUpDown 3.2s ease-in-out infinite;
}

#ctaButton:hover {
    color: $main-primary;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* style.css */ 


/* (576px and down) */
@media only screen and (max-width: 36em) {
    
}
/* (576px and up) */
@media only screen and (min-width: 36em) {
    
}
/* (768px(tablet portrait) and up) */
@media only screen and (min-width: 48em) {
    
}
/* (1024px(landscape tablets) and up) */
@media only screen and (min-width: 64em) {
    
}
/* (1280px and up) */
@media only screen and (min-width: 80em) {
    
}
/* (1920px and up) */
@media only screen and (min-width: 120em) {
    
}
/* (2560px and up) */
@media only screen and (min-width: 160em) {
    
}
/* (3840px and up) */
@media only screen and (min-width: 240em) {
    
}