@import '/src/styles/colors';

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#forest { 
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100vw;
}

#beam { 
    position: fixed;
    left: 29.649vw; //405
    top: 9.078vw; //120
    z-index: -2;
    width: 40.776vw;
}

#items { 
    position: fixed;
    left: 35.505vw; //485
    top: 12.079vw; //165
    z-index: -1;
    width: 29.941vw; //409
}

#ufo { 
    position: fixed;
    left: 36.969vw;
    top: 2.562vw;
    z-index: 0;
    width: 26.061vw;
}

#title {
    position: fixed;
    left: 25.256vw; //345
    top: 16.691vw; //229
    // bottom: 50vh;
    z-index: 0;
    width: 49.78vw; //680
}

#headset {
    position: fixed;
    left: 68.741vw; //939
    bottom: 28vh;
    z-index: -1;
    width: 22.84vw; //312
}

#keyboard {
    position: fixed;
    left: 9.736vw; //133
    bottom: 29vh;
    z-index: -1;
    width: 23.206vw; //317
}

#ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.27vw; //154
    height: 4.25vw; //58
    border-radius: 0.59vw;
    background-color: $main-black;
    position: absolute;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.46vw;
    font-weight: bold;
    color: $main-white;
    left: 44.29vw; //605
    bottom: 3.66vw; //50
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

#ctaButton:hover {
    font-size: 1.54vw;
    color: $main-primary;
    transform: scale(1.1);
}

/* style.css */ 
