@import '/src/styles/colors';

.individualProductPageWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: $main-white;
    margin-top: 2.5em; // 40px

    .topPart {
        display: flex;

        .allPictures {
            width: 62.5em; // 1000px
            max-width: 75%;
            position: relative;

            .previewPicture {
                width: 100%;
                position: relative;
            }
            .previewPicture.others {
                position: absolute;
                left: 0;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }
            .previewPicture.others:hover {
                transform: translateX(0.9375em); // 15px
            }

            .smallPictures {
                position: absolute;
                top: 2.5em; // 40px
                left: 3.125em; // 50px
                display: flex;
                flex-direction: column;
                gap: 0.625em; // 10px
                cursor: pointer;

                .pictures, .previewPictureSmall {
                    width: 5em; // 80px
                    height: 5em; // 80px
                    border: 0.125em solid; // 2px
                    object-fit: cover;
                }
            }
        }

        .info {
            margin: 2.5em auto; // 40px
            width: 18.125em; // 290px

            .name {
                font-size: 1.25em; // 20px
                color: $main-primary;
                margin-bottom: 0.625em; // 10px
                font-weight: 400;
            }
            .description {
                font-size: 1.125em; // 18px
                margin-bottom: 0.625em; // 10px
            }
            .stats {
                padding-left: 1em; // 16px
                font-size: 0.875em; // 14px
                color: #8E8E8E;
                .stat {
                    margin-bottom: 0.3125em; // 5px
                }
                margin-bottom: 1.25em; // 20px
            }
            .price {
                font-size: 1.375em; // 22px
                margin-bottom: 1.875em; // 30px
                font-family: "Inter", sans-serif;
            }
            button {
                font-family: "Roboto", sans-serif;
                width: 100%;
                height: 2em; // 32px
                border-radius: 0.5em; // 8px
                border: none;
                background-color: $main-primary;
                font-size: 1.125em; // 17px
                font-weight: 900;
                color: $main-black;
                cursor: pointer;
            }
        }
    }
    .bottomPart {
        margin: 2.5em 6.25em 1.25em 6.25em; // 40px 100px 20px 100px

        .title {
            font-size: 1.375em; // 22px
            font-weight: 400;
            margin-bottom: 1.25em; // 20px
        }
        .pair {
            width: 100%;
            border-bottom: 0.0625em solid #BCBCBC; // 1px
            padding-bottom: 0.3125em; // 5px
            margin-bottom: 0.625em; // 10px
            display: flex;
            justify-content: flex-start;

            .key {
                font-size: 1em; // 16px
                font-weight: 500;
                width: 14.375em; // 230px
            }
            .value {
                font-size: 1em; // 16px
                color: #BCBCBC;
            }
        }
    }
}