@import '/src/styles/colors';

.individualProductPageWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: $main-white;
    margin-top: 2.5em; // 40px

    .topPart {
        display: flex;

        .allPictures {
            width: 62.5em; // 1000px
            max-width: 75%;
            position: relative;

            .previewPicture {
                width: 100%;
                position: relative;
            }
            .previewPicture.others {
                position: absolute;
                left: 0;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }
            .previewPicture.others:hover {
                transform: translateX(0.9375em); // 15px
            }

            .smallPictures {
                position: absolute;
                top: 2.5em; // 40px
                left: 3.125em; // 50px
                display: flex;
                flex-direction: column;
                cursor: pointer;
                z-index: 1;

                .pictures, .previewPictureSmall {
                    width: 5em; // 80px
                    height: 5em; // 80px
                    object-fit: cover;
                    margin: 5px 0;
                }

                #backgroundHoverEffect {
                    z-index: -1;
                    top: 3px;
                    left: -2px;
                    position: absolute;
                    width: 84px;
                    height: 84px;
                    background-color: $main-primary;
                    opacity: 50%;
                    transition: transform 0.3s ease;
                }
                #selectedPictureIndicator {
                    top: 3px;
                    left: 84px;
                    position: absolute;
                    width: 3px;
                    height: 84px;
                    background-color: $main-primary;
                    transition: transform 0.2s ease;
                }
            }

            .fadeIn {
                animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            
            @keyframes slide-right {
                0% {
                    transform: translateX(-100px);
                }
                100% {
                    transform: translateX(0);
                }
            }
        }

        .info {
            margin: 2.5em auto; // 40px
            width: 18.125em; // 290px
            display: flex;
            flex-direction: column;

            .name {
                font-size: 1.25em; // 20px
                color: $main-primary;
                margin-bottom: 0.625em; // 10px
                font-weight: 400;
            }
            .description {
                font-size: 1.125em; // 18px
                margin-bottom: 0.625em; // 10px
            }
            .stats {
                padding-left: 1em; // 16px
                font-size: 0.875em; // 14px
                color: #8E8E8E;
                .stat {
                    margin-bottom: 0.3125em; // 5px
                }
                margin-bottom: 1.25em; // 20px
            }
            .price {
                font-size: 1.375em; // 22px
                margin-bottom: 1.875em; // 30px
                font-family: "Inter", sans-serif;
            }
            button {
                font-family: "Roboto", sans-serif;
                width: 100%;
                height: 2em; // 32px
                border-radius: 0.5em; // 8px
                border: none;
                background-color: $main-primary;
                font-size: 1.125em; // 17px
                font-weight: 900;
                color: $main-black;
                cursor: pointer;
            }
            #goToTechSpecsButton {
                display: flex;
                justify-content: center;
                position: fixed;
                margin-top: auto;
                bottom: 20px;
                right: 109px;
                color: #8E8E8E;
                align-items: center;
                cursor: pointer;

                div {
                    width: 24px;
                    height: 24px;
                    mask: url("/public/individualProduct-page/arrow-down.svg");
                    background-color: #8E8E8E;
                }
            }
        }
    }
    .bottomPart {
        margin: 2.5em 6.25em 1.25em 6.25em; // 40px 100px 20px 100px

        .title {
            font-size: 1.375em; // 22px
            font-weight: 400;
            margin-bottom: 1.25em; // 20px
        }
        .pair {
            width: 100%;
            border-bottom: 0.0625em solid #BCBCBC; // 1px
            padding-bottom: 0.3125em; // 5px
            margin-bottom: 0.625em; // 10px
            display: flex;
            justify-content: flex-start;

            .key {
                font-size: 1em; // 16px
                font-weight: 500;
                width: 14.375em; // 230px
            }
            .value {
                font-size: 1em; // 16px
                color: #BCBCBC;
            }
        }
    }

    .errorMessage {
        position: fixed;
        left: calc(50vw - 11.688em);
        bottom: -3.25em; 
        width: 23.375em;
        height: 3.25em;
        background-color: $main-red;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
        z-index: 999999;
    }
    .errorMessage.show {
        opacity: 100;
        bottom: 0.625em; /* Final position on-screen */
    }
    .errorMessage.blue {
        background-color: $main-blue; /* Final position on-screen */
    }
    .errorMessage.shake {
        animation: shake 0.5s;
    }
    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
            transform: translateX(5px);
        }
    }
}