@import '/src/styles/colors';

@font-face {
    font-family: 'navbarFont';
    src: local('navbarFont'), url(/src/assets/fonts/TsukimiRounded-Bold.woff) format('woff');
}

header {
    position: relative;
    font-size: 0.938rem;
    margin: calc(0.938rem * 1.333); //20
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbarLogo {
    width: 11.267em;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 1.333em; //20

    .button {
        display: flex;
        position: relative;

        //styling nav buttons text before hover
        .link {
            position: relative;
            text-decoration: none;
            font-family: "navbarfont";
            color: $main-primary;
            transition: transform 0.3s ease, color 0.6s ease;
        }

        //styling nav icon links 
        .link.icon div{
            display: inline-block;
            width: 1.333em; //20
            height: 1.467em; //22
            transition: transform 0.5s ease, background-color 0.6s ease;
            background-color: $main-primary;
        }
        .link.icon.user div{
            mask: url("/navbar/NavbarUserProfileIcon.svg");
            mask-size: cover;
        }
        .link.icon.cart div{
            mask: url("/navbar/NavbarCartIcon.svg");
            mask-size: cover;
        }

        //styling background beam of nav links
        .buttonAnimate {
            position: absolute;
            top: -3.467em; //-52
            pointer-events: none;
            user-select: none;
            transform: scaleX(0);
            transition: transform 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        }
        .buttonAnimate.home{
            width: 4.8em;
            left: -0.6em; //-10
        }
        .buttonAnimate.product {
            width: 7.333em;
            left: -0.667em; //-10
        }
        .buttonAnimate.aboutus {
            width: 6.667em;
            left: -0.4em; //-6
        }
        .buttonAnimate.user {
            width: 2.4em;
            left: -0.533em; //-8.5
            top: -3.333em; //-50
        }
        .buttonAnimate.cart {
            width: 2.4em;
            left: -0.467em; //-7
            top: -3.2em; //-48
        }
    }

    //animation of background links beam on hover
    .button:hover .buttonAnimate{
        transform: scaleX(1);
    }
    //styling of text of links on hover
    .button:hover .link.text{
        transform: translateY(-0.333em); //-5
        color: $main-white;
    }
    //styling of icon links on hover
    .button:hover .link.icon div{
        transform: translateY(-0.533em); //-8
        background-color: $main-white;
    }
}

@media (min-width: 2000px) {
    header {
        font-size: 1.938rem;
    }
}


