@import '/src/styles/colors';

.productsPageWrapper {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: $main-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25em;

    .productsNavBar {
        display: flex;
        flex-direction: row;
        margin: 0 4.6875em 2.5em 4.6875em; // 20px, 75px, 40px, 75px
        align-items: baseline;
        gap: 4.5em; // 72px

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.9375em; // 15px
            transition: color 0.3s ease;
            cursor: pointer;

            .icon {
                background-color: $main-white;
                transition: background-color 0.3s ease;
            }
            .all {
                width: 2.813em; // 34px
                height: 2.813em; // 34px
                mask: url("/products-page/allIcon.svg");
                mask-size: cover;
            }
            .mice {
                width: 2.0625em; // 33px
                height: 2.5em; // 40px
                mask: url("/products-page/miceIcon.svg");
                mask-size: cover;
            }
            .keyboards {
                width: 3.625em; // 57px
                height: 2.5em; // 40px
                mask: url("/products-page/keyboardsIcon.svg");
                mask-size: cover;
            }
            .chairs {
                width: 2.3125em; // 38px
                height: 3.75em; // 60px
                mask: url("/products-page/chairsIcon.svg");
                mask-size: cover;
            }
            .pads {
                width: 2.3125em; // 38px
                height: 1.75em; // 28px
                mask: url("/products-page/padsIcon.svg");
                mask-size: cover;
            }
            .headsets {
                width: 2.8125em; // 46px
                height: 3.125em; // 50px
                mask: url("/products-page/headsetsIcon.svg");
                mask-size: cover;
            }
            .controllers {
                width: 2.625em; // 43px
                height: 1.875em; // 30px
                mask: url("/products-page/controllersIcon.svg");
                mask-size: cover;
            }
            .filter {
                width: 2.125em; // 34px
                height: 1.9375em; // 31px
                mask: url("/products-page/filterIcon.svg");
                mask-size: cover;
            }

            .text {
                font-size: 1.375em; // 22px
                transition: color 0.3s ease;
            }
        }
        .buttons:hover .text{
            color: $main-primary;
        }
        .buttons:hover .icon{
            background-color: $main-primary;
        }
        .buttons.all {
            margin-right: 4.375em; // 68px
        }
        .buttons.filter {
            margin-left: 4.375em; // 68px
            position: relative;
            z-index: 9;

            .filterFunctionality {
                position: absolute;
                width: 26.5625em; // 434px
                background-color: $main-black;
                top: -1.125em; // -18px
                right: -0.875em; // -14px
                border-radius: 0.5em; // 8px
                border: 0.0625em solid $main-primary; // 1px
                display: flex;
                cursor: auto;

                .iconOver {
                    width: 2.125em; // 34px
                    height: 1.9375em; // 31px
                    mask: url("/products-page/filterIcon.svg");
                    mask-size: cover;
                    background-color: $main-primary;
                    position: absolute;
                    right: 1.295em; // 21px
                    top: 1.0625em; // 17px
                    cursor: pointer;
                }

                .sortBy{
                    margin: 1.25em; // 20px
                    margin-bottom: 0.625em;
                    max-width: 10em; // 160px

                    .title {
                        font-size: 1.125em; // 18px
                        font-weight: 700;
                        margin-bottom: 0.9375em; // 15px
                        color: $main-primary;
                    }

                    .priceFilters {
                        button {
                            font-size: 1em; // 16px
                            margin-bottom: 0.625em; // 4px
                            padding: 0.1875em; // 3px
                            margin-left: -0.1875em; // -3px
                            border-radius: 0.25em; // 4px
                            border: none;
                            color: #999999;
                            font-weight: 500;
                            background-color: transparent;
                            cursor: pointer;
                            font-family: "Roboto", sans-serif;
                        }
                        .custom {
                            display: flex;
                            flex-direction: column;
                            width: 8.5em; // 138px

                            .localTitlte {
                                margin-bottom: 0.3125em; // 5px
                            }
                            .cutsomPriceInputs {
                                div {
                                    display: flex;
                                    margin-bottom: 0.3125em; // 5px
                                    input {
                                        border-radius: 0.586vw;
                                        width: 50%;
                                        font-family: "Init", sans-serif;
                                        font-size: 0.8em;
                                        background-color: #b4b4b4;
                                        border: none;
                                        padding-left: 0.3125em; // 5px
                                        color: $main-black;
                                        
                                    }
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                    }
                                    input::placeholder {
                                        color: #5c5c5c;
                                    }
                                    .from {
                                        margin-right: 0.625em; // 10px
                                    }
                                    .to {
                                        margin-right: 1.85em; // 29px
                                    }
                                }
                            }
                        }
                    }
                    .priceFilters .active {
                        background-color: $main-white;
                        opacity: 100%;
                        color: $main-black;
                    }
                }

                .productFilter {
                    margin: 1.25em 0;
                    max-width: 10em; // 160px

                    .title {
                        color: $main-primary;
                        font-size: 1.125em; // 18px
                        font-weight: 700;
                        margin-bottom: 0.9375em; // 15px
                    }
                    .filterName{
                        color: $main-primary;
                        font-size: 0.9375em; // 16px
                        margin-bottom: 0.625em; // 4px
                        font-weight: 600;
                    }
                    .noCategory, .noFilter {
                        color: #505050;
                    }
                    .specificFiltersContainer {
                        display: flex;
                        gap: 0.4375em; // 7px
                        flex-wrap: wrap;
                        .specificFilter {
                            padding: 0.1875em; // 3px
                            margin-left: -0.1875em; // -3px
                            font-size: 0.9375em; // 16px
                            color: #999999;
                            font-weight: 500;
                            border-radius: 0.25em; // 4px
                            cursor: pointer;
                        }
                        .specificFilter.active {
                            background-color: $main-white;
                            opacity: 100%;
                            color: $main-black;
                        }
                    }
                }
                
            }
        }
    }

    //***************************************************************************************

    .productsContainer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // change auto-fill to wanted amount for each screen size
        grid-gap: 0.625em; // 10px
        row-gap: 0.625em; // 10px 
        .grid-item {
            background-color: #0A0A0A;
            border: 0.125em solid $main-primary; // 2px
            border-radius: 0.5em; // 8px
            position: relative;
            display: flex;
            flex-direction: column;
            
            .linkContainer {
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                .picture {
                    max-width: 300px;
                }
            }
            .picture.placeholder {
                width: 18.75em; // 300px / 16px = 18.75em
                height: 18.75em; // 300px / 16px = 18.75em
                position: relative;
            }
            .loadingDisk {
                position: absolute;
                width: 2.5em; // 40px / 16px = 2.5em
                height: 2.5em; // 40px / 16px = 2.5em
                border-radius: 50%;
                border: 0.25em solid #2F2F2F; // 4px / 16px = 0.25em
                border-top: 0.25em solid $main-primary; // 4px / 16px = 0.25em
                animation: spin 1s linear infinite;
                transform: translate(-50%, -50%);
                top: 35%;
                left: 50%;
            }
            
            @keyframes spin {
                0% { transform: translate(-50%, -50%) rotate(0deg); }
                100% { transform: translate(-50%, -50%) rotate(360deg); }
            }
            
            .productInfo {
                background-color: $main-black;
                padding: 1.25em; // 20px / 16px = 1.25em
                border-radius: 0 0 0.5em 0.5em;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
                .topOfContainer {
                    .name {
                        font-size: 1.125em; // 18px / 16px = 1.125em
                        margin-bottom: 0.625em; // 10px / 16px = 0.625em
                    }
                    .description {
                        font-size: 0.875em; // 14px / 16px = 0.875em
                        color: #6C6C6C;
                        margin-bottom: 1.25em; // 20px / 16px = 1.25em
                    }
                }
            
                .bottomOfContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
            
                    .price {
                        font-size: 1em; // 16px / 16px = 1em
                        font-weight: 600;
                        margin-bottom: 0.0625em; // 1px / 16px = 0.0625em
                        font-family: "Inter", sans-serif;
                    }
                    button {
                        font-family: "Roboto", sans-serif;
                        width: 6.125em; // 98px / 16px = 6.125em
                        height: 1.625em; // 26px / 16px = 1.625em
                        border-radius: 0.5em; // 8px / 16px = 0.5em
                        font-size: 0.875em; // 14px / 16px = 0.875em
                        font-weight: bold;
                        color: $main-black;
                        background-color: $main-primary;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    

    .errorMessage {
        position: fixed;
        left: calc(50vw - 11.688em);
        bottom: -3.25em; 
        width: 23.375em;
        height: 3.25em;
        background-color: $main-red;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
    }
    .errorMessage.show {
        opacity: 100;
        bottom: 0.625em; /* Final position on-screen */
    }
    .errorMessage.blue {
        background-color: $main-blue; /* Final position on-screen */
    }
    .errorMessage.shake {
        animation: shake 0.5s;
    }
    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
            transform: translateX(5px);
        }
    }
}


/* (576px and down) */
@media only screen and (max-width: 36em) {
    
}
/* (576px and up) */
@media only screen and (min-width: 36em) {
    
}
/* (768px and up) */
@media only screen and (min-width: 48em) {
    
}
/* (1024px and up) */
@media only screen and (min-width: 64em) {
    
}
/* (1280px and up) */
@media only screen and (min-width: 80em) {
    .productsPageWrapper {
        font-size: 1em;
    }
}
/* (1920px and up) */
@media only screen and (min-width: 120em) {
    .productsPageWrapper {
        font-size: 1.25em;
    }

}
/* (2560px and up) */
@media only screen and (min-width: 160em) {
    .productsPageWrapper {
        font-size: 1.5em;
        margin: 0 auto;
        width: 90%;
        .productsContainer {
            grid-template-columns: repeat(6, minmax(300px, 1fr)); // change auto-fill to wanted amount for each 
        }
    }
    }
/* (3840px and up) */
@media only screen and (min-width: 240em) {
    
}