@import '/src/styles/colors';

.grid-item.placeholder {
    background-color: #0A0A0A;
    border: 0.075em solid $main-primary; /* 2px / 16 = 0.125em */
    border-radius: 0.5em; /* 8px / 16 = 0.5em */
    width: 18.75em; /* 300.5px / 16 = 18.75em */

    .picture-placeholder{
        width: 18.75em;
        height: 18.75em; /* 300px / 16 = 18.75em */
    }

    .productInfo {
        background-color: $main-black;
        padding: 1.25em; /* 20px / 16 = 1.25em */
        border-radius: 0.5em;

        .topOfContainer {
            height: 4.5625em; /* 106px / 16 = 4.5625em */
            .name {
                background-color: #c4c4c4;
                border-radius: 99999px;
                width: 6.25em; /* 100px / 16 = 6.25em */
                height: 1.375em; /* 22px / 16 = 1.375em */
                margin-bottom: 0.75em; /* 10px / 16 = 0.75em */
            }
            .description, .description2 {
                background-color: #555555;
                border-radius: 99999px;
                width: 12.5em; /* 200px / 16 = 12.5em */
                height: 1.125em; /* 17px / 16 = 1.125em */
                margin-bottom: 1.25em; /* 20px / 16 = 1.25em */
            }
            .description2 {
                width: 2.5em; /* 40px / 16 = 2.5em */
            }
        }

        .bottomOfContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .price {
                background-color:#c4c4c4;
                border-radius: 99999px;
                width: 4.6875em; /* 75px / 16 = 4.6875em */
                height: 1.25em; /* 20px / 16 = 1.25em */
                margin-bottom: 0.0625em; /* 1px / 16 = 0.0625em */
            }
            button {
                font-family: "Roboto", sans-serif;
                width: 3.8125em; /* 98px / 16 = 3.8125em */
                height: 1.0625em; /* 26px / 16 = 1.0625em */
                border-radius: 0.5em; /* 8px / 16 = 0.5em */
                font-size: 0.65625em; /* 14px / 16 = 0.65625em */
                font-weight: bold;
                color: $main-black;
                background-color: $main-primary;
                border: none;
                cursor: pointer;
            }
        }
    }
}
