.cartPageWrapper {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  display: flex;
  margin: 40px 20px 20px 20px;
}
.cartPageWrapper .leftPanel {
  width: 970px;
  margin-right: 20px;
  border: 2px solid #00FFA3;
  border-radius: 8px;
  padding: 20px;
  background-color: #000000;
}
.cartPageWrapper .leftPanel .cartTitle {
  font-size: 28px;
  margin-bottom: 3px;
  font-weight: 500;
}
.cartPageWrapper .leftPanel .priceLine {
  width: 100%;
  border-bottom: 1px solid #161616;
  text-align: right;
  font-size: 14px;
  color: #6C6C6C;
}
.cartPageWrapper .leftPanel .item {
  padding: 20px 0;
  border-bottom: 1px solid #161616;
  display: flex;
  width: 100%;
}
.cartPageWrapper .leftPanel .item .price {
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.cartPageWrapper .leftPanel .item .itemPicture {
  width: 300px;
  background-color: #0A0A0A;
  margin-right: 20px;
  border-radius: 8px;
}
.cartPageWrapper .leftPanel .item .itemInfo {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.cartPageWrapper .leftPanel .item .itemInfo .name {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}
.cartPageWrapper .leftPanel .item .itemInfo .description {
  font-size: 14px;
  color: #6C6C6C;
  margin-bottom: 20px;
}
.cartPageWrapper .leftPanel .item .itemInfo .techSpecs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartPageWrapper .leftPanel .item .itemInfo .techSpecs .techSpecsTitle {
  font-size: 15px;
}
.cartPageWrapper .leftPanel .item .itemInfo .techSpecs .pair {
  display: flex;
  font-size: 14px;
  gap: 5px;
}
.cartPageWrapper .leftPanel .item .itemInfo .techSpecs .pair .key {
  white-space: nowrap;
}
.cartPageWrapper .leftPanel .item .itemInfo .techSpecs .pair .value {
  color: #6C6C6C;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons {
  display: flex;
  margin-top: auto;
  user-select: none;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons .qty {
  display: flex;
  justify-content: space-between;
  background-color: #00FFA3;
  width: 126px;
  height: 28px;
  border-radius: 8px;
  font-size: 14px;
  color: #000000;
  align-items: center;
  margin-right: 20px;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons .qty .minus {
  height: 100%;
  padding: 0 10px;
  border-right: 1px solid #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons .qty .plus {
  height: 100%;
  padding: 0 10px;
  border-left: 1px solid #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons .qty .text {
  font-weight: 500;
}
.cartPageWrapper .leftPanel .item .itemInfo .buttons .delete, .cartPageWrapper .leftPanel .item .itemInfo .buttons .share {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #00FFA3;
  padding: 0 20px;
  border-left: 1px solid #161616;
  height: 100%;
  cursor: pointer;
}
.cartPageWrapper .leftPanel .subtotal {
  width: 100%;
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
}
.cartPageWrapper .leftPanel .boldPrice {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.cartPageWrapper .leftPanel .empty {
  margin: 20px 0;
  font-size: 20px;
}
.cartPageWrapper .leftPanel .loadingDisk {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 0.25em solid #2F2F2F;
  border-top: 0.25em solid #00FFA3;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  margin: 60px auto 0 auto;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.cartPageWrapper .rightPanel {
  width: 306px;
  padding: 20px;
  background-color: #000000;
  border: 2px solid #00FFA3;
  border-radius: 8px;
  align-self: flex-start;
}
.cartPageWrapper .rightPanel .subtotal {
  font-size: 18px;
  margin-bottom: 15px;
}
.cartPageWrapper .rightPanel .boldPrice {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}
.cartPageWrapper .rightPanel .checkoutButton {
  width: 215px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  background-color: #00FFA3;
  color: #000000;
  padding: 5px 0;
  cursor: pointer;
}
.cartPageWrapper .errorMessage {
  position: fixed;
  left: calc(50vw - 11.688em);
  bottom: -3.25em;
  width: 23.375em;
  height: 3.25em;
  background-color: #FF2121;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
  z-index: 999999;
}
.cartPageWrapper .errorMessage.show {
  opacity: 100;
  bottom: 0.625em; /* Final position on-screen */
}
.cartPageWrapper .errorMessage.blue {
  background-color: #4558FF; /* Final position on-screen */
}
.cartPageWrapper .errorMessage.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=Cart.css.map */