.backgroundHome {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  user-select: none;
}
.backgroundHome #forest {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
}
.backgroundHome #beam {
  position: fixed;
  left: 29.649vw;
  top: 9.078vw;
  z-index: -2;
  width: 40.776vw;
  overflow: hidden;
}
.backgroundHome #items {
  position: fixed;
  left: 35.505vw;
  top: 12.079vw;
  z-index: -1;
  width: 29.941vw;
}
.backgroundHome #ufo {
  position: fixed;
  left: 36.969vw;
  top: 2.562vw;
  z-index: 0;
  width: 26.061vw;
}
.backgroundHome #title {
  position: fixed;
  left: 25.256vw;
  top: 16.691vw;
  z-index: 0;
  width: 49.78vw;
}
.backgroundHome #headset {
  position: fixed;
  left: 68.741vw;
  bottom: 28vh;
  z-index: -1;
  width: 22.84vw;
}
.backgroundHome #keyboard {
  position: fixed;
  left: 9.736vw;
  bottom: 29vh;
  z-index: -1;
  width: 23.206vw;
}
.backgroundHome #ctaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.27vw;
  height: 4.25vw;
  border-radius: 0.59vw;
  background-color: #000000;
  position: fixed;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.46vw;
  font-weight: bold;
  color: #FFFFFF;
  left: 44.29vw;
  bottom: 3.66vw;
  transition: color 0.3s ease;
  animation: floatUpDown 3.2s ease-in-out infinite;
}
.backgroundHome #ctaButton:hover {
  color: #00FFA3;
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* style.css */
/* (576px and down) */
@media only screen and (max-width: 576px) {
  .backgroundHome #forest {
    width: auto;
    height: 51.389vw;
  }
  .backgroundHome #beam {
    left: calc(50% - 79.444vw);
    top: 44.167vw;
    width: 159.444vw;
  }
  .backgroundHome #items {
    left: calc(50% - 52.778vw);
    top: 51.389vw;
    width: 111.111vw;
  }
  .backgroundHome #ufo {
    left: 0;
    top: 18.889vw;
    width: 100vw;
  }
  .backgroundHome #title {
    left: calc(50% - 42.917vw);
    top: 62.5vw;
    width: 85.833vw;
  }
  .backgroundHome #headset {
    display: none;
  }
  .backgroundHome #keyboard {
    display: none;
  }
  .backgroundHome #ctaButton {
    width: 40vw;
    height: 12vw;
    font-size: 5vw;
    left: calc(50% - 20vw);
    bottom: 3.66vw;
    border-radius: 2.222vw;
  }
}
/* (576px and up) */
@media only screen and (min-width: 577px) and (max-width: 1024px) {
  .backgroundHome #forest {
    width: auto;
    height: max(25vw, 30vh);
  }
  .backgroundHome #beam {
    left: calc(50% - min(47.4vh, 47.4vw));
    top: min(24vh, 24vw);
    width: min(95vh, 95vw);
  }
  .backgroundHome #items {
    left: calc(50% - min(38vw, 38vh));
    top: min(32vh, 32vw);
    width: min(80vw, 80vh);
  }
  .backgroundHome #ufo {
    left: calc(50% - min(30vw, 30vh));
    top: min(10vw, 10vh);
    width: min(60vh, 60vw);
  }
  .backgroundHome #title {
    left: calc(50% - min(30vw, 30vh));
    top: min(40vw, 40vh);
    width: min(60vw, 60vh);
  }
  .backgroundHome #headset {
    display: none;
  }
  .backgroundHome #keyboard {
    display: none;
  }
  .backgroundHome #ctaButton {
    width: max(20vh, 20vw);
    height: max(6.5vh, 6.5vw);
    font-size: max(2.7vh, 2.7vw);
    left: calc(50% - max(10vh, 10vw));
    bottom: max(3.66vh, 3.66vw);
    border-radius: max(1.5vh, 1.5vw);
  }
}/*# sourceMappingURL=Home.css.map */