.individualProductPageWrapper {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-top: 2.5em;
}
.individualProductPageWrapper .topPart {
  display: flex;
}
.individualProductPageWrapper .topPart .allPictures {
  width: 62.5em;
  max-width: 75%;
  position: relative;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture {
  width: 100%;
  position: relative;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture.others {
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture.others:hover {
  transform: translateX(0.9375em);
}
.individualProductPageWrapper .topPart .allPictures .smallPictures {
  position: absolute;
  top: 2.5em;
  left: 3.125em;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  cursor: pointer;
}
.individualProductPageWrapper .topPart .allPictures .smallPictures .pictures, .individualProductPageWrapper .topPart .allPictures .smallPictures .previewPictureSmall {
  width: 5em;
  height: 5em;
  border: 0.125em solid;
  object-fit: cover;
}
.individualProductPageWrapper .topPart .info {
  margin: 2.5em auto;
  width: 18.125em;
}
.individualProductPageWrapper .topPart .info .name {
  font-size: 1.25em;
  color: #00FFA3;
  margin-bottom: 0.625em;
  font-weight: 400;
}
.individualProductPageWrapper .topPart .info .description {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}
.individualProductPageWrapper .topPart .info .stats {
  padding-left: 1em;
  font-size: 0.875em;
  color: #8E8E8E;
  margin-bottom: 1.25em;
}
.individualProductPageWrapper .topPart .info .stats .stat {
  margin-bottom: 0.3125em;
}
.individualProductPageWrapper .topPart .info .price {
  font-size: 1.375em;
  margin-bottom: 1.875em;
  font-family: "Inter", sans-serif;
}
.individualProductPageWrapper .topPart .info button {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
  border: none;
  background-color: #00FFA3;
  font-size: 1.125em;
  font-weight: 900;
  color: #000000;
  cursor: pointer;
}
.individualProductPageWrapper .bottomPart {
  margin: 2.5em 6.25em 1.25em 6.25em;
}
.individualProductPageWrapper .bottomPart .title {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 1.25em;
}
.individualProductPageWrapper .bottomPart .pair {
  width: 100%;
  border-bottom: 0.0625em solid #BCBCBC;
  padding-bottom: 0.3125em;
  margin-bottom: 0.625em;
  display: flex;
  justify-content: flex-start;
}
.individualProductPageWrapper .bottomPart .pair .key {
  font-size: 1em;
  font-weight: 500;
  width: 14.375em;
}
.individualProductPageWrapper .bottomPart .pair .value {
  font-size: 1em;
  color: #BCBCBC;
}
.individualProductPageWrapper .errorMessage {
  position: fixed;
  left: calc(50vw - 11.688em);
  bottom: -3.25em;
  width: 23.375em;
  height: 3.25em;
  background-color: #FF2121;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
  z-index: 999999;
}
.individualProductPageWrapper .errorMessage.show {
  opacity: 100;
  bottom: 0.625em; /* Final position on-screen */
}
.individualProductPageWrapper .errorMessage.blue {
  background-color: #4558FF; /* Final position on-screen */
}
.individualProductPageWrapper .errorMessage.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=IndividualProduct.css.map */