.individualProductPageWrapper {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-top: 2.5em;
}
.individualProductPageWrapper .topPart {
  display: flex;
}
.individualProductPageWrapper .topPart .allPictures {
  width: 62.5em;
  max-width: 75%;
  position: relative;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture {
  width: 100%;
  position: relative;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture.placeholder {
  position: relative;
  width: 100%;
  height: 41.625em;
}
.individualProductPageWrapper .topPart .allPictures .loadingDisk {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 0.25em solid #2F2F2F;
  border-top: 0.25em solid #00FFA3;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.individualProductPageWrapper .topPart .allPictures .previewPicture.others {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.individualProductPageWrapper .topPart .allPictures .previewPicture.others:hover {
  transform: translateX(0.9375em);
}
.individualProductPageWrapper .topPart .allPictures .smallPictures {
  position: absolute;
  top: 2.5em;
  left: 3.125em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
.individualProductPageWrapper .topPart .allPictures .smallPictures .pictures, .individualProductPageWrapper .topPart .allPictures .smallPictures .previewPictureSmall {
  width: 5em;
  height: 5em;
  object-fit: cover;
  margin: 0.313em 0;
}
.individualProductPageWrapper .topPart .allPictures .smallPictures #backgroundHoverEffect {
  z-index: -1;
  top: 0.188em;
  left: -0.125em;
  position: absolute;
  width: 5.25em;
  height: 5.25em;
  background-color: #00FFA3;
  opacity: 50%;
  transition: transform 0.3s ease;
}
.individualProductPageWrapper .topPart .allPictures .smallPictures #selectedPictureIndicator {
  top: 0.188em;
  left: 5.25em;
  position: absolute;
  width: 0.188em;
  height: 5.25em;
  background-color: #00FFA3;
  transition: transform 0.2s ease;
}
.individualProductPageWrapper .topPart .allPictures .fadeIn {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(-6.25em);
  }
  100% {
    transform: translateX(0);
  }
}
.individualProductPageWrapper .topPart .info {
  margin: 2.5em auto;
  width: 18.125em;
  display: flex;
  flex-direction: column;
}
.individualProductPageWrapper .topPart .info .name {
  font-size: 1.25em;
  color: #00FFA3;
  margin-bottom: 0.625em;
  font-weight: 400;
}
.individualProductPageWrapper .topPart .info .description {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}
.individualProductPageWrapper .topPart .info .stats {
  padding-left: 1em;
  font-size: 0.875em;
  color: #8E8E8E;
  margin-bottom: 1.25em;
}
.individualProductPageWrapper .topPart .info .stats .stat {
  margin-bottom: 0.3125em;
}
.individualProductPageWrapper .topPart .info .price {
  font-size: 1.375em;
  margin-bottom: 1.875em;
  font-family: "Inter", sans-serif;
}
.individualProductPageWrapper .topPart .info button {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
  border: none;
  background-color: #00FFA3;
  font-size: 1.125em;
  font-weight: 900;
  color: #000000;
  cursor: pointer;
}
.individualProductPageWrapper .topPart .info #goToTechSpecsButton {
  display: flex;
  justify-content: center;
  margin-top: auto;
  bottom: 1.464vw;
  right: 7.98vw;
  color: #8E8E8E;
  align-items: center;
  cursor: pointer;
}
.individualProductPageWrapper .topPart .info #goToTechSpecsButton div {
  width: 1.5em;
  height: 1.5em;
  mask: url("/individualProduct-page/arrow-down.svg");
  mask-size: cover;
  background-color: #8E8E8E;
}
.individualProductPageWrapper .bottomPart {
  margin: 2.5em 6.25em 1.25em 6.25em;
}
.individualProductPageWrapper .bottomPart .title {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 1.25em;
}
.individualProductPageWrapper .bottomPart .pair {
  width: 100%;
  border-bottom: 0.0625em solid #BCBCBC;
  padding-bottom: 0.3125em;
  margin-bottom: 0.625em;
  display: flex;
  justify-content: flex-start;
}
.individualProductPageWrapper .bottomPart .pair .key {
  font-size: 1em;
  font-weight: 500;
  width: 14.375em;
}
.individualProductPageWrapper .bottomPart .pair .value {
  font-size: 1em;
  color: #BCBCBC;
}
.individualProductPageWrapper .topPart.placeholder {
  height: 41.625em;
}
.individualProductPageWrapper .topPart.placeholder .allPictures {
  width: 100%;
  height: 100%;
  background-color: #0A0A0A;
}
.individualProductPageWrapper .topPart.placeholder .info .name.placeholder {
  background-color: #00FFA3;
  width: 13.75em;
  height: 1.5em;
  border-radius: 9999px;
}
.individualProductPageWrapper .topPart.placeholder .info .description.placeholder, .individualProductPageWrapper .topPart.placeholder .info .description2.placeholder {
  background-color: #FFFFFF;
  width: 16.25em;
  height: 1.375em;
  border-radius: 9999px;
}
.individualProductPageWrapper .topPart.placeholder .info .description2.placeholder {
  width: 5em;
}
.individualProductPageWrapper .topPart.placeholder .info .stats .stat.placeholder {
  background-color: #8E8E8E;
  width: 6.25em;
  height: 1.063em;
  border-radius: 9999px;
}
.individualProductPageWrapper .topPart.placeholder .info .price.placeholder {
  background-color: #FFFFFF;
  width: 6.25em;
  height: 1.625em;
  border-radius: 9999px;
}
.individualProductPageWrapper .errorMessage {
  position: fixed;
  left: calc(50vw - 11.688em);
  bottom: -3.25em;
  width: 23.375em;
  height: 3.25em;
  background-color: #FF2121;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
  z-index: 999999;
}
.individualProductPageWrapper .errorMessage.show {
  opacity: 100;
  bottom: 0.625em; /* Final position on-screen */
}
.individualProductPageWrapper .errorMessage.blue {
  background-color: #4558FF; /* Final position on-screen */
}
.individualProductPageWrapper .errorMessage.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=IndividualProduct.css.map */