.productsPageWrapper {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25em;
  overflow-x: hidden; /* Prevent horizontal overflow from affecting the parent */
}
.productsPageWrapper .productsNavBar {
  display: flex;
  flex-direction: row;
  margin: 0 4.6875em 2.5em 4.6875em;
  align-items: baseline;
  gap: 4.5em;
}
.productsPageWrapper .productsNavBar .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375em;
  transition: color 0.3s ease;
  cursor: pointer;
  order: 2;
}
.productsPageWrapper .productsNavBar .buttons .icon {
  background-color: #FFFFFF;
  transition: background-color 0.3s ease;
}
.productsPageWrapper .productsNavBar .buttons .all {
  width: 2.813em;
  height: 2.813em;
  mask: url("/products-page/allIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .mice {
  width: 2.0625em;
  height: 2.5em;
  mask: url("/products-page/miceIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .keyboards {
  width: 3.625em;
  height: 2.5em;
  mask: url("/products-page/keyboardsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .chairs {
  width: 2.3125em;
  height: 3.75em;
  mask: url("/products-page/chairsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .pads {
  width: 2.3125em;
  height: 1.75em;
  mask: url("/products-page/padsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .headsets {
  width: 2.8125em;
  height: 3.125em;
  mask: url("/products-page/headsetsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .controllers {
  width: 2.625em;
  height: 1.875em;
  mask: url("/products-page/controllersIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .filter {
  width: 2.125em;
  height: 1.9375em;
  mask: url("/products-page/filterIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .text {
  font-size: 1.375em;
  transition: color 0.3s ease;
}
.productsPageWrapper .productsNavBar .buttons:hover .text {
  color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons:hover .icon {
  background-color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons.all {
  margin-right: 4.375em;
  order: 1;
}
.productsPageWrapper .productsNavBar .buttons.filter {
  margin-left: 4.375em;
  position: relative;
  z-index: 9;
  order: 3;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality {
  position: absolute;
  width: 26.5625em;
  background-color: #000000;
  top: -1.125em;
  right: -0.875em;
  border-radius: 0.5em;
  border: 0.0625em solid #00FFA3;
  display: flex;
  cursor: auto;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .iconOver {
  width: 2.125em;
  height: 1.9375em;
  mask: url("/products-page/filterIcon.svg");
  mask-size: cover;
  background-color: #00FFA3;
  position: absolute;
  right: 1.295em;
  top: 1.0625em;
  cursor: pointer;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy {
  margin: 1.25em;
  margin-bottom: 0.625em;
  max-width: 10em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .title {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.9375em;
  color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters button {
  font-size: 1em;
  margin-bottom: 0.625em;
  padding: 0.1875em;
  margin-left: -0.1875em;
  border-radius: 0.25em;
  border: none;
  color: #999999;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom {
  display: flex;
  flex-direction: column;
  width: 8.5em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .localTitlte {
  margin-bottom: 0.3125em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div {
  display: flex;
  margin-bottom: 0.3125em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input {
  border-radius: 0.586vw;
  width: 50%;
  font-family: "Init", sans-serif;
  font-size: 0.8em;
  background-color: #b4b4b4;
  border: none;
  padding-left: 0.3125em;
  color: #000000;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-outer-spin-button,
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::placeholder {
  color: #5c5c5c;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .from {
  margin-right: 0.625em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .to {
  margin-right: 1.85em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .active {
  background-color: #FFFFFF;
  opacity: 100%;
  color: #000000;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter {
  margin: 1.25em 0;
  max-width: 10em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .title {
  color: #00FFA3;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.9375em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .filterName {
  color: #00FFA3;
  font-size: 0.9375em;
  margin-bottom: 0.625em;
  font-weight: 600;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .noCategory, .productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .noFilter {
  color: #505050;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer {
  display: flex;
  gap: 0.4375em;
  flex-wrap: wrap;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer .specificFilter {
  padding: 0.1875em;
  margin-left: -0.1875em;
  font-size: 0.9375em;
  color: #999999;
  font-weight: 500;
  border-radius: 0.25em;
  cursor: pointer;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer .specificFilter.active {
  background-color: #FFFFFF;
  opacity: 100%;
  color: #000000;
}
.productsPageWrapper .productsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(min(18.75em, 300px), 1fr));
  grid-gap: 0.625em;
  row-gap: 0.625em;
}
.productsPageWrapper .productsContainer .grid-item {
  background-color: #0A0A0A;
  border: 0.125em solid #00FFA3;
  border-radius: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
}
.productsPageWrapper .productsContainer .grid-item .linkContainer {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsPageWrapper .productsContainer .grid-item .linkContainer .picture {
  width: min(18.75em, 300px);
}
.productsPageWrapper .productsContainer .grid-item .picture.placeholder {
  width: 18.75em;
  height: 18.75em;
  position: relative;
}
.productsPageWrapper .productsContainer .grid-item .loadingDisk {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 0.25em solid #2F2F2F;
  border-top: 0.25em solid #00FFA3;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.productsPageWrapper .productsContainer .grid-item .productInfo {
  background-color: #000000;
  padding: 1.25em;
  border-radius: 0 0 0.5em 0.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .topOfContainer .name {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .topOfContainer .description {
  font-size: 0.875em;
  color: #6C6C6C;
  margin-bottom: 1.25em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer .price {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.0625em;
  font-family: "Inter", sans-serif;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer button {
  font-family: "Roboto", sans-serif;
  width: 6.125em;
  height: 1.625em;
  border-radius: 0.5em;
  font-size: 0.875em;
  font-weight: bold;
  color: #000000;
  background-color: #00FFA3;
  border: none;
  cursor: pointer;
}
.productsPageWrapper .errorMessage {
  position: fixed;
  left: calc(50vw - 11.688em);
  bottom: -3.25em;
  width: 23.375em;
  height: 3.25em;
  background-color: #FF2121;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
}
.productsPageWrapper .errorMessage.show {
  opacity: 100;
  bottom: 0.625em; /* Final position on-screen */
}
.productsPageWrapper .errorMessage.blue {
  background-color: #4558FF; /* Final position on-screen */
}
.productsPageWrapper .errorMessage.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

/* (576px and down) */
@media only screen and (max-width: 36em) {
  .productsPageWrapper {
    font-size: 0.75em;
  }
  .productsPageWrapper .productsNavBar {
    gap: 20px;
    padding-bottom: 5px;
    overflow-x: auto; /* Enables horizontal scrolling if content overflows */
    max-width: 100%;
    white-space: nowrap;
  }
  .productsPageWrapper .productsNavBar .buttons.all {
    margin-right: 0;
  }
  .productsPageWrapper .productsNavBar .buttons.filter {
    margin-left: 0;
    order: 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality {
    z-index: 25;
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    right: -86vw;
    border-left: 0.0625em solid #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 55px 10px 10px 10px;
    transition: transform 0.3s ease;
    background: radial-gradient(64px at 100% 0, #0f0f0f 6.25%, #000000 6.3% 18.75%, #0f0f0f 18.8% 31.25%, #000000 31.3% 43.75%, #0f0f0f 43.8% 56.25%, #000000 56.3% 68.75%, rgba(0, 0, 0, 0) 0), radial-gradient(64px at 0 0, #0f0f0f 6.25%, #000000 6.3% 18.75%, #0f0f0f 18.8% 31.25%, #000000 31.3% 43.75%, #0f0f0f 43.8% 56.25%, #000000 56.3% 68.75%, rgba(0, 0, 0, 0) 0), radial-gradient(64px at 0 100%, #0f0f0f 6.25%, #000000 6.3% 18.75%, #0f0f0f 18.8% 31.25%, #000000 31.3% 43.75%, #0f0f0f 43.8% 56.25%, #000000 56.3% 68.75%, rgba(0, 0, 0, 0) 0), radial-gradient(64px at 100% 100%, #0f0f0f 6.25%, #000000 6.3% 18.75%, #0f0f0f 18.8% 31.25%, #000000 31.3% 43.75%, #0f0f0f 43.8% 56.25%, #000000 56.3% 68.75%, rgba(0, 0, 0, 0) 0) #0f0f0f;
    background-size: 64px 64px;
    background-color: #0f0f0f;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .iconOver {
    width: 4em;
    height: 4em;
    mask: url("/products-page/closeIcon.svg");
    mask-size: cover;
    background-color: #00FFA3;
    position: absolute;
    left: 0.625em;
    top: 1em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy {
    margin-top: 20px;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.9375em;
    color: #00FFA3;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters button {
    width: 10em;
    font-size: 1.5em;
    margin-bottom: 0.625em;
    border-radius: 0.25em;
    border: none;
    color: #999999;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom {
    display: flex;
    flex-direction: column;
    width: 10em;
    padding-left: 0.9em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .localTitlte {
    margin-bottom: 0.3125em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div {
    display: flex;
    margin-bottom: 0.3125em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input {
    border-radius: 1.8vw;
    width: 50%;
    font-family: "Init", sans-serif;
    font-size: 0.8em;
    background-color: #b4b4b4;
    border: none;
    padding-left: 0.3125em;
    color: #000000;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-outer-spin-button,
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::placeholder {
    color: #5c5c5c;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .from {
    margin-right: 0.625em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .to {
    margin-right: 1.85em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .active {
    background-color: #FFFFFF;
    opacity: 100%;
    color: #000000;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter {
    display: flex;
    flex-direction: column;
    margin: 1.25em 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .title {
    color: #00FFA3;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.9375em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .filterName {
    padding-left: 0.7em;
    color: #00FFA3;
    font-size: 1.5em;
    margin-bottom: 0.625em;
    font-weight: 600;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .noCategory, .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .noFilter {
    font-size: 1.5em;
    margin-top: -0.625em;
    color: #505050;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4375em;
    flex-wrap: wrap;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer .specificFilter {
    width: 10em;
    padding-left: 0.9em;
    margin-left: -0.1875em;
    font-size: 1.5em;
    color: #999999;
    font-weight: 500;
    border-radius: 0.25em;
    cursor: pointer;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer .specificFilter.active {
    background-color: #FFFFFF;
    opacity: 100%;
    color: #000000;
  }
  .productsPageWrapper .productsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    justify-content: center;
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 36em) and (max-width: 64em) {
  .productsPageWrapper {
    font-size: 0.75em;
  }
  .productsPageWrapper .productsNavBar {
    gap: 20px;
    padding-bottom: 5px;
    overflow-x: auto; /* Enables horizontal scrolling if content overflows */
    max-width: 100%;
    white-space: nowrap;
  }
  .productsPageWrapper .productsNavBar .buttons.all {
    margin-right: 0;
  }
  .productsPageWrapper .productsNavBar .buttons.filter {
    margin-left: 0;
    order: 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality {
    z-index: 25;
    position: fixed;
    width: 60%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(48deg, rgb(0, 0, 0) 25%, rgb(0, 34, 22) 76%);
    top: 0;
    right: 0;
    border-left: 0.0625em solid #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 55px 10px 10px 10px;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .iconOver {
    width: 4em;
    height: 4em;
    mask: url("/products-page/closeIcon.svg");
    mask-size: cover;
    background-color: #00FFA3;
    position: absolute;
    left: 0.625em;
    top: 1em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy {
    margin-top: 20px;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.9375em;
    color: #00FFA3;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters button {
    width: 10em;
    font-size: 1.5em;
    margin-bottom: 0.625em;
    border-radius: 0.25em;
    border: none;
    color: #999999;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom {
    display: flex;
    flex-direction: column;
    width: 10em;
    padding-left: 0.9em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .localTitlte {
    margin-bottom: 0.3125em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div {
    display: flex;
    margin-bottom: 0.3125em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input {
    border-radius: 1.8vw;
    width: 50%;
    font-family: "Init", sans-serif;
    font-size: 0.8em;
    background-color: #b4b4b4;
    border: none;
    padding-left: 0.3125em;
    color: #000000;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-outer-spin-button,
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::placeholder {
    color: #5c5c5c;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .from {
    margin-right: 0.625em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .to {
    margin-right: 1.85em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .sortBy .priceFilters .active {
    background-color: #FFFFFF;
    opacity: 100%;
    color: #000000;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter {
    display: flex;
    flex-direction: column;
    margin: 1.25em 0;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .title {
    color: #00FFA3;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.9375em;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .filterName {
    padding-left: 0.7em;
    color: #00FFA3;
    font-size: 1.5em;
    margin-bottom: 0.625em;
    font-weight: 600;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .noCategory, .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .noFilter {
    font-size: 1.5em;
    margin-top: -0.625em;
    color: #505050;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4375em;
    flex-wrap: wrap;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer .specificFilter {
    width: 10em;
    padding-left: 0.9em;
    margin-left: -0.1875em;
    font-size: 1.5em;
    color: #999999;
    font-weight: 500;
    border-radius: 0.25em;
    cursor: pointer;
  }
  .productsPageWrapper .productsNavBar .filterFunctionality .productFilter .specificFiltersContainer .specificFilter.active {
    background-color: #FFFFFF;
    opacity: 100%;
    color: #000000;
  }
  .productsPageWrapper .productsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    justify-content: center;
    font-size: 1.5em;
  }
}
/* (1024px and up) */
@media only screen and (min-width: 64em) {
  .productsPageWrapper {
    font-size: 0.75em;
  }
}
/* (1280px and up) */
@media only screen and (min-width: 80em) {
  .productsPageWrapper {
    font-size: 1em;
  }
}
/* (1920px and up) */
@media only screen and (min-width: 120em) {
  .productsPageWrapper {
    font-size: 1.25em;
  }
}
/* (2560px and up) */
@media only screen and (min-width: 160em) {
  .productsPageWrapper {
    font-size: 1.5em;
    margin: 0 auto;
    width: 90%;
  }
  .productsPageWrapper .productsContainer {
    grid-template-columns: repeat(6, minmax(300px, 1fr));
  }
}
/* (3840px and up) *//*# sourceMappingURL=Products.css.map */