.productsPageWrapper {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productsPageWrapper .productsNavBar {
  display: flex;
  flex-direction: row;
  margin: 0 4.6875em 2.5em 4.6875em;
  align-items: baseline;
  gap: 4.5em;
}
.productsPageWrapper .productsNavBar .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375em;
  transition: color 0.3s ease;
  cursor: pointer;
}
.productsPageWrapper .productsNavBar .buttons .icon {
  background-color: #FFFFFF;
  transition: background-color 0.3s ease;
}
.productsPageWrapper .productsNavBar .buttons .all {
  width: 2.813em;
  height: 2.813em;
  mask: url("/products-page/allIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .mice {
  width: 2.0625em;
  height: 2.5em;
  mask: url("/products-page/miceIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .keyboards {
  width: 3.625em;
  height: 2.5em;
  mask: url("/products-page/keyboardsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .chairs {
  width: 2.3125em;
  height: 3.75em;
  mask: url("/products-page/chairsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .pads {
  width: 2.3125em;
  height: 1.75em;
  mask: url("/products-page/padsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .headsets {
  width: 2.8125em;
  height: 3.125em;
  mask: url("/products-page/headsetsIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .controllers {
  width: 2.625em;
  height: 1.875em;
  mask: url("/products-page/controllersIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .filter {
  width: 2.125em;
  height: 1.9375em;
  mask: url("/products-page/filterIcon.svg");
  mask-size: cover;
}
.productsPageWrapper .productsNavBar .buttons .text {
  font-size: 1.375em;
  transition: color 0.3s ease;
}
.productsPageWrapper .productsNavBar .buttons:hover .text {
  color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons:hover .icon {
  background-color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons.all {
  margin-right: 4.375em;
}
.productsPageWrapper .productsNavBar .buttons.filter {
  margin-left: 4.375em;
  position: relative;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality {
  position: absolute;
  width: 26.5625em;
  background-color: #000000;
  top: -1.125em;
  right: -0.875em;
  border-radius: 0.5em;
  border: 0.0625em solid #00FFA3;
  display: flex;
  cursor: auto;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .iconOver {
  width: 2.125em;
  height: 1.9375em;
  mask: url("/products-page/filterIcon.svg");
  mask-size: cover;
  background-color: #00FFA3;
  position: absolute;
  right: 1.295em;
  top: 1.0625em;
  cursor: pointer;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy {
  margin: 1.25em;
  margin-bottom: 0.625em;
  max-width: 10em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .title {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.9375em;
  color: #00FFA3;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters button {
  font-size: 1em;
  margin-bottom: 0.625em;
  padding: 0.1875em;
  margin-left: -0.1875em;
  border-radius: 0.25em;
  border: none;
  color: #999999;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom {
  display: flex;
  flex-direction: column;
  width: 8.5em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .localTitlte {
  margin-bottom: 0.3125em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div {
  display: flex;
  margin-bottom: 0.3125em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input {
  border-radius: 0.586vw;
  width: 50%;
  font-family: "Init", sans-serif;
  font-size: 0.8em;
  background-color: #b4b4b4;
  border: none;
  padding-left: 0.3125em;
  color: #000000;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-outer-spin-button,
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div input::placeholder {
  color: #5c5c5c;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .from {
  margin-right: 0.625em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .custom .cutsomPriceInputs div .to {
  margin-right: 1.85em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .sortBy .priceFilters .active {
  background-color: #FFFFFF;
  opacity: 100%;
  color: #000000;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter {
  margin: 1.25em 0;
  max-width: 10em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .title {
  color: #00FFA3;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.9375em;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .filterName {
  color: #00FFA3;
  font-size: 0.9375em;
  margin-bottom: 0.625em;
  font-weight: 600;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .noCategory, .productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .noFilter {
  color: #505050;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer {
  display: flex;
  gap: 0.4375em;
  flex-wrap: wrap;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer .specificFilter {
  padding: 0.1875em;
  margin-left: -0.1875em;
  font-size: 0.9375em;
  color: #999999;
  font-weight: 500;
  border-radius: 0.25em;
  cursor: pointer;
}
.productsPageWrapper .productsNavBar .buttons.filter .filterFunctionality .productFilter .specificFiltersContainer .specificFilter.active {
  background-color: #FFFFFF;
  opacity: 100%;
  color: #000000;
}
.productsPageWrapper .productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 19px; /* gap between items */
  row-gap: 19px; /* gap between rows */
  padding: 0.85em;
  padding-top: 0;
}
.productsPageWrapper .productsContainer .grid-item {
  background-color: #0A0A0A;
  border: 0.125em solid #00FFA3;
  border-radius: 0.5em;
}
.productsPageWrapper .productsContainer .grid-item .picture {
  width: 18.75em;
}
.productsPageWrapper .productsContainer .grid-item .picture.placeholder {
  width: 18.75em;
  height: 18.75em;
  position: relative;
}
.productsPageWrapper .productsContainer .grid-item .loadingDisk {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 0.25em solid #2F2F2F;
  border-top: 0.25em solid #00FFA3;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.productsPageWrapper .productsContainer .grid-item .productInfo {
  background-color: #000000;
  padding: 1.25em;
  border-radius: 0 0 0.5em 0.5em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .topOfContainer {
  height: 7.3125em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .topOfContainer .name {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .topOfContainer .description {
  font-size: 0.875em;
  color: #6C6C6C;
  margin-bottom: 1.25em;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer .price {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.0625em;
  font-family: "Inter", sans-serif;
}
.productsPageWrapper .productsContainer .grid-item .productInfo .bottomOfContainer button {
  font-family: "Roboto", sans-serif;
  width: 6.125em;
  height: 1.625em;
  border-radius: 0.5em;
  font-size: 0.975em;
  font-weight: bold;
  color: #000000;
  background-color: #00FFA3;
  border: none;
  cursor: pointer;
}
.productsPageWrapper .errorMessage {
  position: fixed;
  left: calc(50vw - 11.688em);
  bottom: -3.25em;
  width: 23.375em;
  height: 3.25em;
  background-color: #FF2121;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.1s ease; /* Animate the bottom property */
}
.productsPageWrapper .errorMessage.show {
  opacity: 100;
  bottom: 0.625em; /* Final position on-screen */
}
.productsPageWrapper .errorMessage.blue {
  background-color: #4558FF; /* Final position on-screen */
}
.productsPageWrapper .errorMessage.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=Products.css.map */